.card {
  max-width: 300px;
  background-color: whitesmoke;
  margin-left: 2.5vw;
  margin-right: 2, 5vw;
  margin-top: 5vh;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

#inventory-div {
  height: 100%;
  max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  // background: rgb(185,225,233);
// background: linear-gradient(90deg, rgba(185,225,233,1) 0%, rgba(255,255,255,1) 99%);
}
button{
   margin-right:5px;
   margin-left:5px;
}
