<div id="homeDiv"> 
    <img src = "https://i.pinimg.com/564x/bb/e3/95/bbe395c27077a804959b2c1f58f75889.jpg">
    <div id="descriptionDiv">
        <h1>INVENTORY APP</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse porta blandit felis ac tristique. 
            Cras elementum diam vitae rhoncus posuere. Fusce porttitor nisi ut condimentum viverra. 
            Aliquam luctus, leo non tincidunt convallis, elit velit laoreet nisl, 
            ut finibus mauris ex eget magna. Nam venenatis sapien et sapien viverra ornare. Vestibulum.
        </p>
        <button mat-raised-button (click)="GoToInventory()">LEARN MORE</button>
    </div>
</div>
